@import "tailwindcss";

:root {
  font-family: Poppins, sans-serif;

  /* Default / Light Theme */
  --primary: #7367f0;
  --primary-light: #9d93ff;
  --text: #5d5a68;
  --background: #f2f2f2;
  --gray-light: #cecece;
  --surface: #ffffff;
}

/* Dark Theme Overrides */
.theme-dark {
  --background: #25293c;
  --surface: #2f3349;
  --text: #a5b0cc;
  --gray-light: #d0daf4;
}

body,
html {
  transition: background-color 0.6s ease, color 0.6s ease;
}
